.frame {
    display: flex;
    flex-direction: column;
}

body {
    box-sizing: border-box;
    background-image: url("assets/bg-desktop.jpg");
    background-size: cover;
    background-position: center; /* Centraliza a imagem */
    background-repeat: no-repeat; /* Impede que a imagem se repita */
    background-attachment: fixed; /* Mantém a imagem fixa enquanto rola a página (opcional) */
    flex-direction: column;
    flex: auto;
    margin: auto;
    gap: 0.625rem;
    padding: 0.625rem;
    --text-color: #ffffff;
}

.apresentation {
    display: inline-grid;
    grid-template-columns: 0.115fr 0.5fr;
    gap: 0.625rem 0.625rem;
    padding: 0.3125rem 0.625rem 0.3125rem 0.3125rem;
    flex-direction: column;

}

.imagem {
    align-self: center;
}

#perfil {
    border-radius: 50%; /* Borda arredondada (50% para ser totalmente circular) */
    transition: border 0.2s ease; /* Transição suave para a borda */
    width: 12.5rem; /* Definindo largura da imagem */
    height: 12.5rem; /* Definindo altura da imagem */
    object-fit: cover; /* Ajusta a imagem para se encaixar */
    border: 0.25rem solid #25258c;
    margin-top: 1,5625rem;
    margin-left: 0.5rem;
    align-self: center;
}

.icon {
    width: 0,9375rem; /* Definindo largura da imagem */
    height: 0,9375rem; /* Definindo altura da imagem */
    object-fit: cover; /* Ajusta a imagem para se encaixar */
    align-self: center;
    justify-self: center;
}

.social {
    display: flex;
    flex-direction: column;
    align-self: start;
    gap: 0.5rem;
    padding: 0,3125rem 0rem 0,3125 0,3125;
    list-style: none;
    color: #0ec6b6;
}

.social li {
    -webkit-backdrop-filter: blur(4px);
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0,625rem 0.3125rem;
    background: rgba(255, 255, 255, 0.1);
    border: 0,0625rem solid rgba(255, 255, 255, 0.5);
    border-radius: 0.5rem;
}

.social li:hover {
    transition: border 0.2s ease;
    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgb(255, 255, 255);
}

a {
    text-decoration: none;
    align-items: center;
    color: #0ec6b6;
}

.info {
    display: inline;
    padding: 0.3125rem 0rem 0.3125rem 0.3125rem;
}

#perfil:hover {
    border-color: #0ec6b6;
}

#habilidade

.hr {
    color: blueviolet;
}

h1 {
    color: #ffffff;
}

h3 {
    color: #ffffff;
}

p {
    color: #ffffff;
}
